body {
  font-family: $font-family-prim;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $primary-color;
  background: $background;
  text-rendering: optimizeLegibility;
}

hr {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
  border-top: 1px solid $border;
}
